@model ProductView

@{
    ViewData["Title"] = "Edit product";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-5 col-lg-7">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="2" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input value="@Model.Category" name="Category" class="form-control" list="Category" 
                       data-val="true" data-val-length="Min 3 max 30 chars" data-val-length-min="3" data-val-length-max="30" data-val-required="Category field is required" />
                <datalist id="Category">
                    @foreach (Category c in ViewBag.Categories)
                    {
                    <option value="@c.Name"></option>
                    }
                </datalist>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input value="@Model.Manufacturer" name="Manufacturer" class="form-control" list="Companies"
                       data-val="true" data-val-length="Min 4 max 40 chars" data-val-length-min="4" data-val-length-max="40" data-val-required="Manufacturer field is required" />
                <datalist id="Companies">
                    @foreach (Company c in ViewBag.Companies)
                    {
                        <option value="@c.Name"></option>
                    }
                </datalist>
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier" class="control-label"></label>
                <input value="@Model.Supplier" name="Supplier" class="form-control" list="Companies"
                       data-val="true" data-val-length="Min 4 max 40 chars" data-val-length-min="4" data-val-length-max="40" data-val-required="Supplier field is required" />
                <span asp-validation-for="Supplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
